.form_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  form {
    margin: 0 auto;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #333;
    padding: 20px;
    flex-direction: column;
    min-width: 400px;
    background-color: #fafffd;
    input {
      margin: 10px 0;
      border: 1px solid #333;
      padding: 10px;
    }
    .login_options {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      button {
        margin: 15px;
        border-radius: 0.7rem;
        border: 1px solid #333;
        padding: 10px 30px;
        font-weight: 700;
        background-color: #b6b8d6;
      }
      p {
        border-top: 1px solid black;
        margin-top: 15px;
      }
    }
  }
  h1 {
    font-size: 1.5rem;
    margin-bottom: 30px;
  }
  h3 {
    margin: 5px 0;
  }
}

.register_wrapper.show .form_wrapper {
  opacity: 1;
  transition: all 0.3s 0.3s;
}
