.profile_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  .profile_banner {
    width: 100%;
    max-height: 300px;
    position: relative;
    .avatar_box {
      width: 100%;
      height: 100%;
    }
    img {
      height: 300px;
      width: 100%;
      object-fit: cover;
      opacity: 0.6;
    }
    #avatar {
      position: absolute;
      top: 30%;
      left: 50%;
      height: 100px;
      width: 100px;
      z-index: 10;
      opacity: 1;
    }
  }
}
