.profile_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  .profile_banner {
    width: 100%;
    max-height: 300px;
    position: relative;
    .background_image {
      height: 100%;
      width: 100%;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        opacity: 0.6;
      }
    }
    .avatar_box {
      width: 100px;
      height: 100px;
      position: absolute;
      top: 30%;
      left: 50%;
      #avatar {
        height: 100%;
        width: 100%;
        z-index: 10;
        opacity: 1;
      }
      .username {
        width: 100%;
        text-align: center;
        margin-top: 20px;
        z-index: 10;
        h1 {
          font-size: 1.7rem;
          color: white;
        }
      }
    }
  }
  .user_info {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(6, 1fr);
    width: 100%;
    height: 100%;
    padding: 20px 0;
    .synergy_logo {
      width: 100%;
      height: 100px;
      img {
        object-fit: cover;
        height: 100px;
      }
    }
    .projects {
      grid-row-start: 1;
      grid-row-end: 5;
    }
    .synergy_logo {
      grid-row-start: 5;
      grid-row-end: 6;
    }
    .bio {
      grid-row-start: 1;
      grid-row-end: 3;
    }
    .user_posts {
      grid-row-start: 3;
      grid-row-end: 7;
    }
  }
}
