.register_wrapper,
.login_wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  transform: translateY(-100%);
  background-color: rgba(0, 0, 0, 0);
  transition: transform 0s 0.2s, background-color 0.4s 0s;
  z-index: 1200;
}

.register_wrapper.show,
.login_wrapper.show {
  transform: translateY(0);
  background-color: rgba(0, 0, 0, 0.7);
  transition: transform 0s, background-color 0.6s 0.1s;
}

.navbar_wrapper {
  z-index: 1000;
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  border: 1px solid rgb(136, 136, 136);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  .logo,
  .user_actions {
    display: flex;
    align-items: center;
    margin: 0 10px;
    button {
      margin: 0 10px;
      border: 2px solid #333;
      border-radius: 10px;
      padding: 10px 20px;
      font-weight: 700;
    }
  }

  #join_btn {
    background-color: #d3fac7;
  }

  #join_btn:hover {
    background-color: #a6f58e;
    transition: all 0.3s ease;
  }

  #signup_btn {
    background-color: #132a13;
    color: white;
  }
  #signup_btn:hover {
    background-color: #265426;
  }
}
