@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
}

body {
  line-height: 1.4em;
  font-weight: 400;
  font-family: 'Lato', sans-serif;
  height: 100%;
  width: 100%;
}

.App {
  height: 100vh;
}

img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

ul,
li {
  list-style-type: none;
}

input {
  cursor: text;
}
button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

a,
a:focus {
  text-decoration: none;
  color: #265426;
  font-weight: 600;
}

img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}
